[package]
name = "gflags"
version = "0.3.0"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Command line flags library that does not require a central list of all the flags."
repository = "https://github.com/dtolnay/gflags"
documentation = "https://docs.rs/gflags"
readme = "README.md"
edition = "2018"

[dependencies]
argv = "0.1"
gflags-impl = { version = "0.3", path = "impl" }
inventory = "0.1.1"
ref-cast = "0.2"

[workspace]
members = ["impl"]
